amqp==5.3.1
billiard==4.2.4
celery==5.6.3
cffi==2.1.0
cryptography==49.0.0
Django==6.0.7
djangorestframework==3.17.1
gunicorn==26.0.0
kombu==5.6.2
psycopg2-binary==2.9.12
pycparser==3.0
redis==8.0.1
requests==2.34.2
vine==5.1.0
